- const isBenefitsLocal = bodyId.includes('benefits-local');

div(class=`benefits__menu benefits__menu--${isBenefitsLocal ? 'local' : 'program'}`)
    div
        h2
            span 여행가는 달의 다양한
            strong 여행정보와 여행혜택을<br>확인해 보세요!
        nav
            ul
                li
                    if (isBenefitsLocal)
                        strong 지역별
                    else
                        a(href="/html/benefits/local.html") 지역별
                li
                    if (!isBenefitsLocal)
                        strong 프로그램별
                    else
                        a(href="/html/benefits/traffic.html") 프로그램별
        div
            if (isBenefitsLocal)
                -
                    const sidoList = ['전국', '서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주'];
                select
                    each name, index in sidoList.slice(1)
                        option(value=`${(index + 1 + '').padStart(2, '0')}`)= name
                ul
                    li(data-sido="01")
                        strong
                            span 서울
                        span
                    each name, index in sidoList.slice(1)
                        li(data-sido=`${(index + 1 + '').padStart(2, '0')}`)
                            a(href="#")
                                span= name
                            span
            else
                select
                    option(value="") 교통혜택
                ul
                    -
                        const benefitsMenusProgram = [
                            {
                                type: 'traffic',
                                menu: '교통혜택'
                            },
                            {
                                type: 'stay',
                                menu: '숙박혜택'
                            },
                            {
                                type: 'play',
                                menu: '놀거리혜택'
                            },
                            {
                                type: 'trend',
                                menu: '여행트랜드관'
                            },
                            {
                                type: 'special',
                                menu: '여행상품 특별 기획전'
                            }
                        ];
                    each item in benefitsMenusProgram
                        li
                            if (bodyId.includes(item.type))
                                strong(class=`benefits__menu-link benefits__menu-link--${item.type}`)
                                    span!= item.menu
                            else
                                a(class=`benefits__menu-link benefits__menu-link--${item.type}` href=`/html/benefits/${item.type}.html`)
                                    span!= item.menu