extends ../components/layout

include ../components/list-thumbnail

append variables
    - const bodyId = 'trend-list';
    - const trendTheme = 'a';

block body
    article.trend-list(data-theme=trendTheme)
        div
            header
                div
                    - let currentThemeItem = themeList.filter(item => item.code.toLowerCase() === trendTheme)[0];
                    h2
                        span!= currentThemeItem.titleSub
                        strong!= currentThemeItem.titleMain
                    p!= currentThemeItem.content
            nav
                .swiper
                    .swiper-wrapper
                        each item, index in themeList
                            .swiper-slide
                                if (index)
                                    a(href="#" data-theme=item.code.toLowerCase())!= item.menuTag
                                else
                                    strong(data-theme=item.code.toLowerCase())!= item.menuTag
        aside
            div
                .swiper
                    .swiper-wrapper
                        each item, index in themeList.slice(1)
                            .swiper-slide
                                dl
                                    dt
                                        span 여행트렌드 #{index + 1}
                                        strong= item.name
                                    dd!= item.content
                                    dd
                                        a(href="#") 여행 프로그램 확인하기
                .swiper-button-prev
                .swiper-button-next


        section.list-thumbnail.list-thumbnail--goods
            h3 해보고 싶은 여행 떠나보기
            h3 농어촌/섬관광 여행 떠나보기
            - const listThumbnailGoods = JSON.parse('[' + JSON.stringify(listThumbnail.goods).replace(/^\[/, '').replace(/]$/, ',').repeat(4).replace(/,$/, '') + ']').sort(() => Math.random() - 0.5);
            +list-thumbnail-goods(listThumbnailGoods)
            p
                button(type="button") MORE

        #modal-goods-1.modal.fade.modal-goods(tabindex="-1" data-bs-backdrop="static" aria-hidden="true")
            .modal-dialog
                .modal-content
                    article
                        div(style="background-image: url('https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=3f8fbd92-6b7e-46ba-9161-21bfd76e8e1b&mode=progress')")
                        div
                            p 여행상품
                            p 숙박•당일
                        h3 산속등대 어뮤즈월드 이용요금 반값 할인
                        dl
                            div
                                dt 예약신청기간
                                dd 2023-05-10 ~ 2023-06-01
                            div
                                dt 할인적용기간
                                dd 2023-06-01 ~ 2023-06-30
                            div
                                dt 혜택상세
                                dd 어뮤즈월드 이용요금 50% 할인 어뮤즈월드 이용요금 50% 할인 어뮤즈월드 이용요금 50% 할인
                            div
                                dt 혜택제공조건
                                dd 어린이만 이용가능(8세 이상~19세 미만)
                            div
                                dt 참고사항
                                dd 동반하는 어른은 정가
                            div
                                dt 문의처
                                dd 063-245-2456
                        p
                            a(href="#")
                                span 자세히 보기
                    button.modal-close(type="button" data-bs-dismiss="modal" aria-label="Close")

        section.list-thumbnail.list-thumbnail--contents
            h3 2023 여행 트렌드 알아보기
            h3 농어촌/섬관광 트렌드 알아보기
            - const listThumbnailContents = JSON.parse('[' + JSON.stringify(listThumbnail.contents).replace(/^\[/, '').replace(/]$/, ',').repeat(4).replace(/,$/, '') + ']').sort(() => Math.random() - 0.5);
                +list-thumbnail-contents(listThumbnailContents)
            p
                button(type="button") MORE


        #modal-trend-content-1.modal.fade.modal-trend-contents(data-theme="a" tabindex="-1" data-bs-backdrop="static" aria-hidden="true")
            .modal-dialog
                .modal-content
                    article
                        h2.modal-trend-contents__theme 반려동물 동반여행
                        h3.modal-trend-contents__title(style="background-image: url('https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=3f8fbd92-6b7e-46ba-9161-21bfd76e8e1b&mode=progress')") 댕댕이와 사람이 함께<br>행복한 강아지 숲 5스팟
                        ul.modal-trend-contents__tab
                            li
                                a.modal-trend-contents__tab-item(href="#") 추천1
                            li
                                a.modal-trend-contents__tab-item(href="#") 추천2
                            li
                                a.modal-trend-contents__tab-item(href="#") 추천3
                        .modal-trend-contents__panel
                            h4.modal-trend-contents__panel-title 1. 휘바핀란드(강원도 홍천)
                            .modal-trend-contents__panel-contents
                                p 이색 동물들과 함께하는 방목 체험형 동물원이라고 생각하시면 될 것 같아요! 울타리가 없는 방목형 양떼목장이라서 강아지 여행 하며 사람 아이도 함께하는 여행이라면 함께 가보기에 좋은 장소입니다.
                                p
                                    img(src="https://cdn.visitkorea.or.kr/img/call?cmd=VIEW&id=f6c2cdb3-7c48-4ec1-b326-33e19002b0f1&mode=progress" alt="붉은 다리")
                                p 무엇보다 애견동반 여행 중에 확 트인 초원을 볼 수 있어 좋은 곳이었는데요. 아이가 양떼 목장에서 먹이 주는 것만 재미있어 해서 못 가봤지만...
                            dl.modal-trend-contents__panel-info
                                div
                                    dt 주소
                                    dd
                                        div 경기 안성시 공도읍 대신두길 28
                                div
                                    dt 테스트
                                    dd
                                        div 테스트 내용1
                                        div 테스트 내용2
                        .modal-trend-contents__panel
                            h4.modal-trend-contents__panel-title 2
                        .modal-trend-contents__panel
                            h4.modal-trend-contents__panel-title 3
                    button.modal-close(type="button" data-bs-dismiss="modal" aria-label="Close")