- const isBenefitsLocal = bodyId.includes('benefits-local');

div(class=`benefits__menu benefits__menu--${isBenefitsLocal ? 'local' : 'program'}`)
    div
        h2
            span 여행가는 달의 다양한
            strong 여행정보와 여행혜택을<br>확인해 보세요!
        nav
            ul
                li
                    if (isBenefitsLocal)
                        strong 지역별
                    else
                        a(href="/html/benefits/local.html") 지역별
                li
                    if (!isBenefitsLocal)
                        strong 프로그램별
                    else
                        a(href="/html/benefits/traffic.html") 프로그램별
        div
            if (isBenefitsLocal)
                p
                    span 지역의 여행상품과 여행혜택을 확인하세요.
                    select
                        each item in sidoList.filter(item => !['전국', '서울', '인천', '경기'].includes(item.name))
                            option(value=item.nameEn.toLowerCase() data-url="/html/benefits/local.html")= item.name
                ul
                    each item in sidoList.filter(item => !['전국', '서울', '인천', '경기'].includes(item.name))
                        li(data-sido=item.nameEn.toLowerCase())
                            if item.name === '대전'
                                strong
                                    span= item.name
                            else
                                a(href="#")
                                    span= item.name
                            span
            else
                -
                    const benefitsProgramMenu = [
                        {
                            type: 'traffic',
                            menu: '교통혜택',
                            url: 'benefits/traffic',
                        },
                        {
                            type: 'stay',
                            menu: '숙박혜택',
                            url: 'benefits/stay',
                        },
                        {
                            type: 'play',
                            menu: '놀거리혜택',
                            url: 'benefits/play',
                        },
                        {
                            type: 'trend',
                            menu: '여행트랜드관',
                            url: 'trend/list',
                        },
                        {
                            type: 'special',
                            menu: '여행상품 특별 기획전',
                            url: 'special/list',
                        }
                    ];
                select
                    each item in benefitsProgramMenu
                        option(value=item.type selected=bodyId.includes(item.type))!= item.menu
                ul
                    each item in benefitsProgramMenu
                        li
                            if (bodyId.includes(item.type))
                                strong(class=`benefits__menu-link benefits__menu-link--${item.type}`)
                                    span!= item.menu
                            else
                                a(class=`benefits__menu-link benefits__menu-link--${item.type}` href=`/html/${item.url}.html`)
                                    span!= item.menu