.skipnav
    a(href="#content") 본문 영역으로 바로가기
nav.quick-visitkorea
    div
        a(href="https://korean.visitkorea.or.kr" target="_blank")
            span 대한민국구석구석 바로가기
header.site-header
    div
        h1
            a(href="/html/")
                span 여행가는 달
        p
            button(type="button")
                span 메뉴
        nav
            -
                const globalNav = [
                    {
                        url: '/html/travelmonth/intro.html',
                        menu: '여행가는 달이란?',
                        sub: [
                            {
                                url: '/html/travelmonth/intro.html',
                                menu: '여행가는 달 소개',
                            },
                            {
                                url: '/html/travelmonth/organization.html',
                                menu: '여행가는 달 참여기관',
                            }
                        ]
                    },
                    {
                        url: '/html/benefits/local.html',
                        menu: '여행혜택',
                        sub: [
                            {
                                url: '/html/benefits/traffic.html',
                                menu: '교통혜택',
                            },
                            {
                                url: '/html/benefits/stay.html',
                                menu: '숙박혜택',
                            },
                            {
                                url: '/html/benefits/play.html',
                                menu: '놀거리혜택',
                            }
                        ]
                    },
                    {
                        url: '/html/trend/list.html',
                        menu: '여행트렌드관',
                    },
                    {
                        url: '/html/special/list.html',
                        menu: '여행상품 특별 기획전',
                    },
                    {
                        url: '/html/event/list.html',
                        menu: '이벤트',
                    }
                ];
                const urlBodyId = bodyId.split('-');
                const urlBodyIdMain = urlBodyId[0];
                const urlBodyIdSub = urlBodyId.join('/');
            ul(data-id=urlBodyIdMain)
                each item in globalNav
                    li
                        a(href=item.url class=`${item.url.includes(urlBodyIdMain) ? 'site-header__nav--current-main' : ''}`)= item.menu
                        if item.sub
                            div
                                ul
                                    each subItem in item.sub
                                        li
                                            a(href=subItem.url class=`${subItem.url.includes(urlBodyIdSub) ? 'site-header__nav--current-sub' : ''}`)= subItem.menu
